default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  username: username
  password: password
  host: localhost

development:
  <<: *default
  database: republic_development
test:
  <<: *default
  database: republic_test

production:
  url: <%= ENV['DATABASE_URL'] %>
